In [1]:
#importing stuff
import numpy as np
import pandas as pd
import json
import os #used to cycle through your files
import re

In [27]:
#just outline
#pd.read_excel('filename.xlsx', sheet_name=index/name)
    #will default reading in the first sheet
    
#egg = pd.read_excel('PGarchive/egg_final.xlsx')

In [3]:
#reading in my data
egg = pd.read_csv('PGarchive/egg_final.csv')
egg.head()
egg['Pokedex']= egg['ID']
egg

,Unnamed: 0,ID,Pokemon.Name,Gen.2.Steps,Gen.3.Steps,Gen.4.Steps,Gen.5.6.Steps,Gen.7.Steps,Pokedex
0,1,1,Bulbasaur,5120.0,5376.0,5355.0,5140.0,5120,1
1,2,2,Ivysaur,5120.0,5376.0,5355.0,5140.0,5120,2
2,3,3,Venusaur,5120.0,5376.0,5355.0,5140.0,5120,3
3,4,4,Charmander,5120.0,5376.0,5355.0,5140.0,5120,4
4,5,5,Charmeleon,5120.0,5376.0,5355.0,5140.0,5120,5
...,...,...,...,...,...,...,...,...,...
885,886,886,Drakloak,NaN,NaN,NaN,NaN,10240,886
886,887,887,Dragapult,NaN,NaN,NaN,NaN,10240,887
887,888,888,Zacian,NaN,NaN,NaN,NaN,30720,888
888,889,889,Zamazenta,NaN,NaN,NaN,NaN,30720,889
889,890,890,Eternatus,NaN,NaN,NaN,NaN,30720,890

In [5]:
pogo = pd.read_csv('PGarchive/pogo.csv')
pogo

,Name,Pokedex,Stamina,Attack,Defense,Primary,Secondary,MaxHP,Capture_rate,Escape_rate,Weight,Height,Legendary,MaxCP,Generation
0,Bulbasaur,1,128,118,111,Grass,Poison,113,0.20,0.10,6.9,0.7,No,1115,1
1,Ivysaur,2,155,151,143,Grass,Poison,134,0.10,0.07,13.0,1.0,No,1699,1
2,Venusaur,3,190,198,189,Grass,Poison,162,0.05,0.05,100.0,2.0,No,2720,1
3,Charmander,4,118,116,93,Fire,None,105,0.20,0.10,8.5,0.6,No,980,1
4,Charmeleon,5,151,158,126,Fire,None,131,0.10,0.07,19.0,1.1,No,1653,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,Landorus,645,205,261,182,Ground,Flying,173,0.02,0.01,68.0,1.5,SÃ­,3588,5
645,Kyurem,646,245,246,170,Dragon,Ice,205,0.02,0.01,325.0,3.0,SÃ­,3575,5
646,Keldeo,647,209,260,192,Water,Fighting,177,0.02,0.01,48.5,1.4,No,3698,5
647,Meloetta,648,225,250,225,Normal,Psychic,189,0.02,0.01,6.5,0.6,No,3972,5
648,Genesect,649,174,252,199,Bug,Steel,149,0.02,0.01,82.5,1.5,No,3353,5

In [9]:
pokemon = pd.read_csv('PGarchive/pokemon.csv')
pokemon
pokemon['Pokedex']= pokemon['pokedex_number']
pokemon

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary,Pokedex
0,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,1,65,65,45,grass,poison,6.9,1,0,1
1,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,2,80,80,60,grass,poison,13.0,1,0,2
2,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,3,122,120,80,grass,poison,100.0,1,0,3
3,"['Blaze', 'Solar Power']",0.50,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,4,60,50,65,fire,NaN,8.5,1,0,4
4,"['Blaze', 'Solar Power']",0.50,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,5,80,65,80,fire,NaN,19.0,1,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,['Beast Boost'],0.25,1.0,0.5,2.0,0.5,1.0,2.0,0.5,1.0,...,797,107,101,61,steel,flying,999.9,7,1,797
797,['Beast Boost'],1.00,1.0,0.5,0.5,0.5,2.0,4.0,1.0,1.0,...,798,59,31,109,grass,steel,0.1,7,1,798
798,['Beast Boost'],2.00,0.5,2.0,0.5,4.0,2.0,0.5,1.0,0.5,...,799,97,53,43,dark,dragon,888.0,7,1,799
799,['Prism Armor'],2.00,2.0,1.0,1.0,1.0,0.5,1.0,1.0,2.0,...,800,127,89,79,psychic,NaN,230.0,7,1,800
800,['Soul-Heart'],0.25,0.5,0.0,1.0,0.5,1.0,2.0,0.5,1.0,...,801,130,115,65,steel,fairy,80.5,7,1,801

In [7]:
pokemonbig = pd.read_csv('PGarchive/Pokemonbig.csv')
pokemonbig
pokemonbig['Pokedex']= pokemonbig['#']
pokemonbig

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Pokedex
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,2
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,3
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,3
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,719
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,719
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,720
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,720
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,721

In [ ]:
#starting to clean

In [14]:
poke = pd.merge(pokemonbig, pogo, on='Name' )

In [21]:
poke['Pokedex']=poke['#']
poke.head()

,#,Name,Type 1,Type 2,Total,HP,Attack_x,Defense_x,Sp. Atk,Sp. Def,...,Primary,Secondary,MaxHP,Capture_rate,Escape_rate,Weight,Height,Legendary_y,MaxCP,Generation_y
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,...,Grass,Poison,113,0.20,0.10,6.9,0.7,No,1115,1
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,...,Grass,Poison,134,0.10,0.07,13.0,1.0,No,1699,1
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,...,Grass,Poison,162,0.05,0.05,100.0,2.0,No,2720,1
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,...,Fire,None,105,0.20,0.10,8.5,0.6,No,980,1
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,...,Fire,None,131,0.10,0.07,19.0,1.1,No,1653,1

In [23]:
poke = pd.merge(poke, pokemon, on='Pokedex')

In [24]:
poke.head()

,#,Name,Type 1,Type 2,Total,HP,Attack_x,Defense_x,Sp. Atk,Sp. Def,...,percentage_male_y,pokedex_number_y,sp_attack_y,sp_defense_y,speed_y,type1_y,type2_y,weight_kg_y,generation_y,is_legendary_y
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,...,88.1,5,80,65,80,fire,NaN,19.0,1,0