Found the data using this link

https://swhui.github.io/StatisticsinPokemon/datasets/

In [151]:
#importing stuff
import numpy as np
import pandas as pd
import json
import os #used to cycle through your files
import re

In [27]:
#just outline
#pd.read_excel('filename.xlsx', sheet_name=index/name)
    #will default reading in the first sheet
    
#egg = pd.read_excel('PGarchive/egg_final.xlsx')

In [152]:
pogo = pd.read_csv('PGarchive/pogo.csv')
pogo.head()

,Name,Pokedex,Stamina,Attack,Defense,Primary,Secondary,MaxHP,Capture_rate,Escape_rate,Weight,Height,Legendary,MaxCP,Generation
0,Bulbasaur,1,128,118,111,Grass,Poison,113,0.20,0.10,6.9,0.7,No,1115,1
1,Ivysaur,2,155,151,143,Grass,Poison,134,0.10,0.07,13.0,1.0,No,1699,1
2,Venusaur,3,190,198,189,Grass,Poison,162,0.05,0.05,100.0,2.0,No,2720,1
3,Charmander,4,118,116,93,Fire,None,105,0.20,0.10,8.5,0.6,No,980,1
4,Charmeleon,5,151,158,126,Fire,None,131,0.10,0.07,19.0,1.1,No,1653,1

In [171]:
pokemon = pd.read_csv('PGarchive/pokemon.csv')
pokemon
pokemon['Pokedex']= pokemon['pokedex_number']
pokemon.head()

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary,Pokedex
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,1,65,65,45,grass,poison,6.9,1,0,1
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,2,80,80,60,grass,poison,13.0,1,0,2
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,3,122,120,80,grass,poison,100.0,1,0,3
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,4,60,50,65,fire,NaN,8.5,1,0,4
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,5,80,65,80,fire,NaN,19.0,1,0,5

In [154]:
pokemonbig = pd.read_csv('PGarchive/Pokemonbig.csv')
pokemonbig
pokemonbig['Pokedex']= pokemonbig['#']
pokemonbig.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Pokedex
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,2
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,3
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,3
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,4

In [ ]:
#starting to clean

In [156]:
pogo

,Name,Pokedex,Stamina,Attack,Defense,Primary,Secondary,MaxHP,Capture_rate,Escape_rate,Weight,Height,Legendary,MaxCP,Generation
0,Bulbasaur,1,128,118,111,Grass,Poison,113,0.20,0.10,6.9,0.7,No,1115,1
1,Ivysaur,2,155,151,143,Grass,Poison,134,0.10,0.07,13.0,1.0,No,1699,1
2,Venusaur,3,190,198,189,Grass,Poison,162,0.05,0.05,100.0,2.0,No,2720,1
3,Charmander,4,118,116,93,Fire,None,105,0.20,0.10,8.5,0.6,No,980,1
4,Charmeleon,5,151,158,126,Fire,None,131,0.10,0.07,19.0,1.1,No,1653,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,Landorus,645,205,261,182,Ground,Flying,173,0.02,0.01,68.0,1.5,Sí,3588,5
645,Kyurem,646,245,246,170,Dragon,Ice,205,0.02,0.01,325.0,3.0,Sí,3575,5
646,Keldeo,647,209,260,192,Water,Fighting,177,0.02,0.01,48.5,1.4,No,3698,5
647,Meloetta,648,225,250,225,Normal,Psychic,189,0.02,0.01,6.5,0.6,No,3972,5
648,Genesect,649,174,252,199,Bug,Steel,149,0.02,0.01,82.5,1.5,No,3353,5

In [157]:
#getting rid of extra columns
pogo.drop(labels='Attack', axis=1, inplace=True)
pogo.drop(labels='Defense', axis=1, inplace=True)
pogo.drop(labels='Generation', axis=1, inplace=True)
pogo.drop(labels='Legendary', axis=1, inplace=True)
pogo.drop(labels='MaxCP', axis=1, inplace=True)

In [158]:
pogo

,Name,Pokedex,Stamina,Primary,Secondary,MaxHP,Capture_rate,Escape_rate,Weight,Height
0,Bulbasaur,1,128,Grass,Poison,113,0.20,0.10,6.9,0.7
1,Ivysaur,2,155,Grass,Poison,134,0.10,0.07,13.0,1.0
2,Venusaur,3,190,Grass,Poison,162,0.05,0.05,100.0,2.0
3,Charmander,4,118,Fire,None,105,0.20,0.10,8.5,0.6
4,Charmeleon,5,151,Fire,None,131,0.10,0.07,19.0,1.1
...,...,...,...,...,...,...,...,...,...,...
644,Landorus,645,205,Ground,Flying,173,0.02,0.01,68.0,1.5
645,Kyurem,646,245,Dragon,Ice,205,0.02,0.01,325.0,3.0
646,Keldeo,647,209,Water,Fighting,177,0.02,0.01,48.5,1.4
647,Meloetta,648,225,Normal,Psychic,189,0.02,0.01,6.5,0.6
648,Genesect,649,174,Bug,Steel,149,0.02,0.01,82.5,1.5

In [159]:
pokemonbig

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Pokedex
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,2
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,3
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,3
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,719
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,719
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,720
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,720
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,721

In [160]:
#getting rid of extra variables
pokemonbig.drop(labels='#', axis=1, inplace=True)
pokemonbig.drop(labels='Sp. Atk', axis=1, inplace=True)
pokemonbig.drop(labels='Sp. Def', axis=1, inplace=True)

pokemonbig.drop(labels='Type 1', axis=1, inplace=True)
pokemonbig.drop(labels='Type 2', axis=1, inplace=True)

pokemonbig.drop(labels='Name', axis=1, inplace=True)

In [161]:
pokemonbig = pokemonbig.drop_duplicates(subset=['Pokedex'])

In [162]:
pokemonbig

     Total   HP  Attack  Defense  Speed  Generation  Legendary  Pokedex
0      318   45      49       49     45           1      False        1
1      405   60      62       63     60           1      False        2
2      525   80      82       83     80           1      False        3
4      309   39      52       43     65           1      False        4
5      405   58      64       58     80           1      False        5
..     ...  ...     ...      ...    ...         ...        ...      ...
793    680  126     131       95     99           6       True      717
794    600  108     100      121     95           6       True      718
795    600   50     100      150     50           6       True      719
797    600   80     110       60     70           6       True      720
799    600   80     110      120     70           6       True      721

[721 rows x 8 columns]

In [163]:
pokemon

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary,Pokedex
0,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,1,65,65,45,grass,poison,6.9,1,0,1
1,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,2,80,80,60,grass,poison,13.0,1,0,2
2,"['Overgrow', 'Chlorophyll']",1.00,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,3,122,120,80,grass,poison,100.0,1,0,3
3,"['Blaze', 'Solar Power']",0.50,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,4,60,50,65,fire,NaN,8.5,1,0,4
4,"['Blaze', 'Solar Power']",0.50,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,5,80,65,80,fire,NaN,19.0,1,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,['Beast Boost'],0.25,1.0,0.5,2.0,0.5,1.0,2.0,0.5,1.0,...,797,107,101,61,steel,flying,999.9,7,1,797
797,['Beast Boost'],1.00,1.0,0.5,0.5,0.5,2.0,4.0,1.0,1.0,...,798,59,31,109,grass,steel,0.1,7,1,798
798,['Beast Boost'],2.00,0.5,2.0,0.5,4.0,2.0,0.5,1.0,0.5,...,799,97,53,43,dark,dragon,888.0,7,1,799
799,['Prism Armor'],2.00,2.0,1.0,1.0,1.0,0.5,1.0,1.0,2.0,...,800,127,89,79,psychic,NaN,230.0,7,1,800
800,['Soul-Heart'],0.25,0.5,0.0,1.0,0.5,1.0,2.0,0.5,1.0,...,801,130,115,65,steel,fairy,80.5,7,1,801

In [172]:
#erasing extra columns that are repeats or that I don't need
pokemon.drop(labels='type1', axis=1, inplace=True)
pokemon.drop(labels='type2', axis=1, inplace=True)
pokemon.drop(labels='abilities', axis=1, inplace=True)
pokemon.drop(labels='classfication', axis=1, inplace=True)
pokemon.drop(labels='japanese_name', axis=1, inplace=True)
pokemon.drop(labels='name', axis=1, inplace=True)
pokemon.drop(labels='pokedex_number', axis=1, inplace=True)
pokemon.drop(labels='generation', axis=1, inplace=True)
pokemon.drop(labels='is_legendary', axis=1, inplace=True)

pokemon.drop(labels='against_bug', axis=1, inplace=True)
pokemon.drop(labels='against_dark', axis=1, inplace=True)
pokemon.drop(labels='against_dragon', axis=1, inplace=True)
pokemon.drop(labels='against_electric', axis=1, inplace=True)
pokemon.drop(labels='against_fairy', axis=1, inplace=True)
pokemon.drop(labels='against_fight', axis=1, inplace=True)
pokemon.drop(labels='against_fire', axis=1, inplace=True)
pokemon.drop(labels='against_flying', axis=1, inplace=True)
pokemon.drop(labels='against_ghost', axis=1, inplace=True)
pokemon.drop(labels='against_grass', axis=1, inplace=True)
pokemon.drop(labels='against_ground', axis=1, inplace=True)
pokemon.drop(labels='against_ice', axis=1, inplace=True)
pokemon.drop(labels='against_normal', axis=1, inplace=True)
pokemon.drop(labels='against_poison', axis=1, inplace=True)
pokemon.drop(labels='against_psychic', axis=1, inplace=True)
pokemon.drop(labels='against_rock', axis=1, inplace=True)
pokemon.drop(labels='against_steel', axis=1, inplace=True)
pokemon.drop(labels='against_water', axis=1, inplace=True)
pokemon.drop(labels='base_total', axis=1, inplace=True)
pokemon.drop(labels='base_egg_steps', axis=1, inplace=True)
pokemon.drop(labels='sp_attack', axis=1, inplace=True)
pokemon.drop(labels='defense', axis=1, inplace=True)
pokemon.drop(labels='attack', axis=1, inplace=True)
pokemon.drop(labels='sp_defense', axis=1, inplace=True)

pokemon.drop(labels='height_m', axis=1, inplace=True)
pokemon.drop(labels='weight_kg', axis=1, inplace=True)
pokemon.drop(labels='hp', axis=1, inplace=True)
pokemon.drop(labels='capture_rate', axis=1, inplace=True)

In [165]:
pokemon

     base_happiness  experience_growth  percentage_male  speed  Pokedex
0                70            1059860             88.1     45        1
1                70            1059860             88.1     60        2
2                70            1059860             88.1     80        3
3                70            1059860             88.1     65        4
4                70            1059860             88.1     80        5
..              ...                ...              ...    ...      ...
796               0            1250000              NaN     61      797
797               0            1250000              NaN    109      798
798               0            1250000              NaN     43      799
799               0            1250000              NaN     79      800
800               0            1250000              NaN     65      801

[801 rows x 5 columns]

In [29]:
#do we think creatures that are bigger have a higher percentage of males

### Made a list of the different unique variables from each data set
Pokemon
- percentage male
- base happiness

Pokemonbig
- total

Pogo
- capture rate
- escape rate

In [173]:
pokemonbig.head()

   Total  HP  Attack  Defense  Speed  Generation  Legendary  Pokedex
0    318  45      49       49     45           1      False        1
1    405  60      62       63     60           1      False        2
2    525  80      82       83     80           1      False        3
4    309  39      52       43     65           1      False        4
5    405  58      64       58     80           1      False        5

In [174]:
pogo.head()

,Name,Pokedex,Stamina,Primary,Secondary,MaxHP,Capture_rate,Escape_rate,Weight,Height
0,Bulbasaur,1,128,Grass,Poison,113,0.20,0.10,6.9,0.7
1,Ivysaur,2,155,Grass,Poison,134,0.10,0.07,13.0,1.0
2,Venusaur,3,190,Grass,Poison,162,0.05,0.05,100.0,2.0
3,Charmander,4,118,Fire,None,105,0.20,0.10,8.5,0.6
4,Charmeleon,5,151,Fire,None,131,0.10,0.07,19.0,1.1

In [175]:
pokemon.head()

   base_happiness  experience_growth  percentage_male  speed  Pokedex
0              70            1059860             88.1     45        1
1              70            1059860             88.1     60        2
2              70            1059860             88.1     80        3
3              70            1059860             88.1     65        4
4              70            1059860             88.1     80        5

In [176]:
#merging the dataframes together
pokemon = pd.merge(pogo, pokemon, on='Pokedex')
pokemon = pd.merge(pokemon, pokemonbig, on='Pokedex')

In [183]:
pokemon

,Name,Pokedex,Stamina,Primary,Secondary,MaxHP,Capture_rate,Escape_rate,Weight,Height,...,experience_growth,percentage_male,speed,Total,HP,Attack,Defense,Speed,Generation,Legendary
0,Bulbasaur,1,128,Grass,Poison,113,0.20,0.10,6.9,0.7,...,1059860,88.1,45,318,45,49,49,45,1,False
1,Ivysaur,2,155,Grass,Poison,134,0.10,0.07,13.0,1.0,...,1059860,88.1,60,405,60,62,63,60,1,False
2,Venusaur,3,190,Grass,Poison,162,0.05,0.05,100.0,2.0,...,1059860,88.1,80,525,80,82,83,80,1,False
3,Charmander,4,118,Fire,None,105,0.20,0.10,8.5,0.6,...,1059860,88.1,65,309,39,52,43,65,1,False
4,Charmeleon,5,151,Fire,None,131,0.10,0.07,19.0,1.1,...,1059860,88.1,80,405,58,64,58,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,Landorus,645,205,Ground,Flying,173,0.02,0.01,68.0,1.5,...,1250000,100.0,91,600,89,125,90,101,5,True
645,Kyurem,646,245,Dragon,Ice,205,0.02,0.01,325.0,3.0,...,1250000,NaN,95,660,125,130,90,95,5,True
646,Keldeo,647,209,Water,Fighting,177,0.02,0.01,48.5,1.4,...,1250000,NaN,108,580,91,72,90,108,5,False
647,Meloetta,648,225,Normal,Psychic,189,0.02,0.01,6.5,0.6,...,1250000,NaN,128,600,100,77,77,90,5,False
648,Genesect,649,174,Bug,Steel,149,0.02,0.01,82.5,1.5,...,1250000,NaN,99,600,71,120,95,99,5,False