In [1]:
#importing stuff
import numpy as np
import pandas as pd
import json
import os #used to cycle through your files
import re

In [27]:
#just outline
#pd.read_excel('filename.xlsx', sheet_name=index/name)
    #will default reading in the first sheet
    
#egg = pd.read_excel('PGarchive/egg_final.xlsx')

In [13]:
pogo = pd.read_csv('PGarchive/pogo.csv')
pogo.head()

,Name,Pokedex,Stamina,Attack,Defense,Primary,Secondary,MaxHP,Capture_rate,Escape_rate,Weight,Height,Legendary,MaxCP,Generation
0,Bulbasaur,1,128,118,111,Grass,Poison,113,0.20,0.10,6.9,0.7,No,1115,1
1,Ivysaur,2,155,151,143,Grass,Poison,134,0.10,0.07,13.0,1.0,No,1699,1
2,Venusaur,3,190,198,189,Grass,Poison,162,0.05,0.05,100.0,2.0,No,2720,1
3,Charmander,4,118,116,93,Fire,None,105,0.20,0.10,8.5,0.6,No,980,1
4,Charmeleon,5,151,158,126,Fire,None,131,0.10,0.07,19.0,1.1,No,1653,1

In [14]:
pokemon = pd.read_csv('PGarchive/pokemon.csv')
pokemon
pokemon['Pokedex']= pokemon['pokedex_number']
pokemon.head()

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary,Pokedex
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,1,65,65,45,grass,poison,6.9,1,0,1
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,2,80,80,60,grass,poison,13.0,1,0,2
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,3,122,120,80,grass,poison,100.0,1,0,3
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,4,60,50,65,fire,NaN,8.5,1,0,4
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,5,80,65,80,fire,NaN,19.0,1,0,5

In [10]:
pokemonbig = pd.read_csv('PGarchive/Pokemonbig.csv')
pokemonbig
pokemonbig['Pokedex']= pokemonbig['#']
pokemonbig.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Pokedex
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,2
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,3
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,3
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,4

In [ ]:
#starting to clean

In [22]:
pogo.head()

,Name,Pokedex,Stamina,Attack,Defense,Primary,Secondary,MaxHP,Capture_rate,Escape_rate,Weight,Height,Legendary,MaxCP,Generation
0,Bulbasaur,1,128,118,111,Grass,Poison,113,0.20,0.10,6.9,0.7,No,1115,1
1,Ivysaur,2,155,151,143,Grass,Poison,134,0.10,0.07,13.0,1.0,No,1699,1
2,Venusaur,3,190,198,189,Grass,Poison,162,0.05,0.05,100.0,2.0,No,2720,1
3,Charmander,4,118,116,93,Fire,None,105,0.20,0.10,8.5,0.6,No,980,1
4,Charmeleon,5,151,158,126,Fire,None,131,0.10,0.07,19.0,1.1,No,1653,1

In [23]:
pokemon.head()

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary,Pokedex
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,1,65,65,45,grass,poison,6.9,1,0,1
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,2,80,80,60,grass,poison,13.0,1,0,2
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,3,122,120,80,grass,poison,100.0,1,0,3
3,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,4,60,50,65,fire,NaN,8.5,1,0,4
4,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,...,5,80,65,80,fire,NaN,19.0,1,0,5

In [26]:
#erasing extra columns that are repeats or that I don't need
#pokemon.drop(labels='type1', axis=1, inplace=True)
#pokemon.drop(labels='type2', axis=1, inplace=True)
#pokemon.drop(labels='abilities', axis=1, inplace=True)
#pokemon.drop(labels='classfication', axis=1, inplace=True)
#pokemon.drop(labels='japanese_name', axis=1, inplace=True)
#pokemon.drop(labels='name', axis=1, inplace=True)
#pokemon.drop(labels='pokedex_number', axis=1, inplace=True)
#pokemon.drop(labels='generation', axis=1, inplace=True)
#pokemon.drop(labels='is_legendary', axis=1, inplace=True)

pokemon.drop(labels='against_bug', axis=1, inplace=True)
pokemon.drop(labels='against_dark', axis=1, inplace=True)
pokemon.drop(labels='against_dragon', axis=1, inplace=True)
pokemon.drop(labels='against_electric', axis=1, inplace=True)
pokemon.drop(labels='against_fairy', axis=1, inplace=True)
pokemon.drop(labels='name', axis=1, inplace=True)
pokemon.drop(labels='pokedex_number', axis=1, inplace=True)
pokemon.drop(labels='generation', axis=1, inplace=True)
pokemon.drop(labels='is_legendary', axis=1, inplace=True)

In [27]:
pokemon.head()

,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,against_grass,...,defense,experience_growth,height_m,hp,percentage_male,sp_attack,sp_defense,speed,weight_kg,Pokedex
0,1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,0.25,...,49,1059860,0.7,45,88.1,65,65,45,6.9,1
1,1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,0.25,...,63,1059860,1.0,60,88.1,80,80,60,13.0,2
2,1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,0.25,...,123,1059860,2.0,80,88.1,122,120,80,100.0,3
3,0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,0.50,...,43,1059860,0.6,39,88.1,60,50,65,8.5,4
4,0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,1.0,0.50,...,58,1059860,1.1,58,88.1,80,65,80,19.0,5

In [29]:
#do we think creatures that are bigger have a higher percentage of males

In [30]:
pokemonbig.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Pokedex
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,2
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,3
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,3
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,4